<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="BallGamesConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\Digital Manager.mdb&quot;;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="BallGamesConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\Digital Manager.mdb&quot;;Persist Security Info=True"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <siteMap defaultProvider="XmlSiteMapProvider">
      <providers>
        <clear />
        <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" />
      </providers>
    </siteMap>
    <pages theme="MainTheme" />
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>