body {
    background: #35465c;
    border: 2px solid black;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 85%;
    margin: 0 auto;
    padding: 10px;
    width: 60%;
    height: 90%;
    align-items: center;

}

#imageHeader {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.footer {
    font-style: italic;
    text-align: right;
}

form {
    background: ghostwhite;
   
}

#content { height: 575px; }

#margin{ margin: 10px;
    margin-bottom: 20px;
}

