h1 {
    margin-bottom: .25em;
    padding: 0;
}

/* The styles for the cart */

#firstContactList {
    float: left;
    margin: 0 0 1em;
}

#form1 { height: 483px; }

option { margin: .5em; }

#btnRemove, #btnEmpty { margin-left: 1em; }

#btnRemove { margin-bottom: 1em; }

#actionButtons { display: block; }

#btnContinue { margin-right: 1em; }