h1 {
    margin-bottom: .25em;
    padding: 0;
}

/* The styles for the cart */

#firstContactList {
    float: left;
    margin: 0 0 1em;
}

#form1 { height: 483px; }

option { margin: .5em; }

#actionButtons { display: block; }

.messageRemoveText {
    color: rgb(255, 0, 0);
}