h1 {
    margin-bottom: .25em;
    padding: 0;
}


#firstContactList {
    float: left;
    margin: 0 0 1em;
}



option {
    margin: .5em;
}

#actionButtons {
    display: block;
    text-align: center;
}

