section { padding: 1em; }

#ddlCustomerList { width: 15em; }

#productData {
    float: left;
    height: 324px;
    padding: 1em 0;
    width: 350px;
    margin-right: 348px;
}

section {
    height: 480px;
    width: 680px;
}

#lblName {
    display: block;
    font-size: 125%;
    font-weight: bold;
}

#lblName, #lblAdress, #lblCity, #lblState, #lblZipCode, #lblPhone, #lblEmail {
    display: block;
    margin-bottom: 2em;
 
}

#lblLongDescription { margin-bottom: 2em; }


.validator {
    color: rgb(255, 0, 0);
    float: left;
    margin-left: 1em;
}

.bold { font-weight: bold; }

#btnAddToContacts { float: left;margin-top: 1em;}

#btnViewContactList { float: right;margin-top: 1em;}

#btnHomeButton{display: block ; margin-top: 5em;}

#lblMessage{ padding-top: 1em;padding-bottom: 1em;}