section { padding: 1em; }

#ddlCustomerList { width: 15em; }

#lblBallGamesTitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#lblSlogan {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

#productData {
    float: left;
    height: 324px;
    padding: 1em 0;
    width: 400px;
}

#lblName {
    display: block;
    font-size: 125%;
    font-weight: bold;
}

#lblName, #lblAdress, #lblCity, #lblState, #lblZipCode, #lblPhone, #lblEmail {
    display: block;
    margin-bottom: 1em;
}

#lblLongDescription { margin-bottom: 2em; }


.validator {
    color: red;
    margin-left: 1em;
}

#btnAddToContacts { float: left; }

#btnViewContactList { float: right; }