section { padding: 1em; }

#ddlCustomerList { width: 15em; }

#productData {
    float: left;
    height: 324px;
    margin-right: 348px;
    padding: 1em 0;
    width: 350px;
}

section {
    height: 480px;
    width: 680px;
}

.nameLabel {
    display: block;
    font-size: 125%;
    font-weight: bold;
    margin-bottom: 1em;
}


.marginFormatting {
 
    display: block;
    margin-bottom: 2em;
}


.validator {
    color: rgb(255, 0, 0);
    float: left;
    margin-left: 1em;
}

.bold { font-weight: bold; }

#btnAddToContacts {
    float: left;
    margin-top: 1em;
}

#btnViewContactList {
    float: right;
    margin-top: 1em;
}

#btnHomeButton {
    display: block;
    margin-top: 5em;
}

#lblMessage {
    padding-bottom: 1em;
    padding-top: 1em;
}